{% load i18n %}
{% load thumbnail %}
{% load url from future %}
{% load sekizai_tags %}

{% addtoblock "css" %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/gallery.css">
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/gallery.js"></script>
{% endaddtoblock %}

<div class="gallery-container">
    
    {% for image in images %}
        <div class="gallery-thumb">

            {# Change the dimensions for the cropped image, as needed. Computed and cached on first use. #}
            {% thumbnail image.image instance.thumbnail_geometry crop="center" as im %}

                <a href="{% url 'imagesift:image' pk=image.pk %}?gall={{ instance.pk }}&back={{ url }}">
                    <img src="{{ im.url }}"
                    {% if image.title %}
                      alt="{{ image.title }}"
                    {% endif %}
                    data-title="{{ image.title }}"
                    data-description="{{ image.description }}"
                    data-tags={{ image.tags }}
                    width="{{ im.width }}" height="{{ im.height }}"
                    >
                </a>
                <div class="caption">
                
                {% if image.title %}
                    {{ image.title }}
                {% else %}
                    {% trans 'Untitled' %}
                {% endif %}
                 </div>
            {% endthumbnail %}

        </div>
    {% endfor %}


</div>
<div class="more-container">
    <a href="gallery-ajax-1.html" class="load-more">load more 1 >></a>
    <div class="status-message">loading...</div>
</div>